extends ../layout
block content
    li
        a(href='/') home
    li
        a(href='/todo/create') add new
    h1 Title: #{title}
    h2 Total count: #{count}
    if items != ''
        ul
            each item in items
                li Note: #{item.note} &nbsp;
                    a(href='/todo/delete/#{item.id}') delete
                    &nbsp;
                    a(href='/todo/update/#{item.id}') update
                    &nbsp;
                    a(href='/') home